---
import Button from "../ui/Button.astro";
import Link from "../ui/Link.astro";
---

<section id="about" class="flex flex-col gap-6 font-serif background-text text-background basis-1/3 bg-text p-8 rounded-3xl">
    <h2 class="font-mono font-bold text-5xl mb-2">Sobre mí</h2>
    <p class="mb-4 text-lg">Desde chico me gustó todo lo relacionado con la <span class="font-bold">computación</span> por lo que decidí estudiar en un secundario especializado en ese área. 
        Mientras más me adentraba en el sector me daba cuenta que quería <span class="font-bold">profundizar</span> aún más en lo que me explicaban y comencé a estudiar 
        por mi cuenta, desarrollando poco a poco una pasión por la <span class="font-bold">programación</span> y el aprendizaje <span class="font-bold">autodidáctica</span>.</p>
    <Link class="text-center place-self-end w-full" href="/CV-Granata.pdf" download>Descargá mi CV</Link>
</section>