---
import Icon from 'astro-icon'


---


<section id="contact" class="container">
        <div class="!py-12 !px-8 bg-gradient-to-r from-secondary to-primary rounded-3xl flex-grow flex flex-col gap-8 ">
            <h2 class="font-bold font-mono text-4xl">Contacto</h2>
            <a href="mailto:granatathiago@gmail.com" class="underline">Enviar un mail</a>
            <div class="mt-auto">
                <p class="text-lg">También podés contactarme por mis redes sociales</p>
                <ul class="flex gap-4">
                    <li>
                        <a aria-label="linkedin" href="https://www.linkedin.com/in/thiago-granata-971804216">
                            <Icon pack="ri" name="linkedin-box-fill" color="#282D40" width={36} height={36}/>
                        </a>
                    </li>
                    <li>
                        <a aria-label="github" href="https://github.com/GranataThiago">
                            <Icon pack="ri" name="github-fill" color="#282D40" width={36} height={36}/>
                        </a>
                    </li>
                    <li>
                        <a aria-label="twitter" href="https://www.x.com/tmgranata">
                            <Icon pack="ri" name="twitter-fill" color="#282D40" width={36} height={36}/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

</section>