---
import Input from "../ui/Input.astro";
import Textarea from "../ui/Textarea.astro";
import Button from '../ui/Button.astro'
import Icon from 'astro-icon'
import { Resend } from "resend";
import ContactForm from "../ui/ContactForm.svelte";

// if(Astro.request.method === 'POST'){
//     console.log('Submitted Form')
//     const form = await Astro.request.formData();
//     const name = form.get('name');
//     const email = form.get('email');
//     const message = form.get('message');

//     const resend = new Resend(import.meta.env.RESEND_API_KEY);

//     const response = await resend.emails.send({
//       from: 'onboarding@resend.dev',
//       to: 'michaygr@gmail.com',
//       subject: `Recibiste un mensaje de ${name}`,
//       html: `${message!.toString()} <br/> sent by ${email}`
//     });

//     console.log(response)
// }
---


<section id="contact" class="container contact flex justify-between gap-8 text-text flex-col md:flex-row">

    <div class="flex-grow flex flex-col gap-8 bg-gradient-to-r from-secondary to-primary rounded-3xl p-6">
        <h2 class="font-bold font-mono text-4xl">Contacto</h2>
        <div class="mt-auto">
            <p class="text-lg">También podés contactarme por mis redes sociales</p>
            <ul class="flex gap-4">
                <li>
                    <a aria-label="linkedin" href="https://www.linkedin.com/in/thiago-granata-971804216">
                        <Icon pack="ri" name="linkedin-box-fill" color="#282D40" width={36} height={36}/>
                    </a>
                </li>
                <li>
                    <a aria-label="github" href="https://github.com/GranataThiago">
                        <Icon pack="ri" name="github-fill" color="#282D40" width={36} height={36}/>
                    </a>
                </li>
                <li>
                    <a aria-label="twitter" href="https://www.x.com/tmgranata">
                        <Icon pack="ri" name="twitter-fill" color="#282D40" width={36} height={36}/>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- <form method="POST" class="flex-grow flex flex-col gap-4">
        <div class="flex gap-4">
            <Input label="Email" name="email" type="email" placeholder="Email de contacto*" required/>
            <Input label="Nombre" name="name" type="text" placeholder="Tu nombre*" required/>
        </div>
        <Textarea name="message" required minlength="20"/>

        <Button type="submit">Enviar</Button>
    </form> -->
    <ContactForm client:load>
        <Input slot="email" label="Email" name="email" type="email" placeholder="Email de contacto*" required/>
        <Input slot="name" label="Nombre" name="name" type="text" placeholder="Tu nombre*" required/>
        <Textarea slot="message" name="message" required minlength="20"/>
    </ContactForm>
</section>