---
import WorkCard from "../ui/WorkCard.astro"

const JOBS = [
    {
        company: 'Heurix',
        role: "Fullstack Developer",
        date: { from: "2021/11", to: "2023/01" }, 
        technologies: "Angular, Node, Express + TS, MySQL, MongoDB, AWS"
    },
    {
        company: 'Heurix',
        role: "Fullstack Developer",
        date: { from: "2022/11", to: "2023/01" }, 
        technologies: "React, Typescript, Postgre, Nest"
    }
]
---

<section id="experience" class="flex flex-col font-poppins text-text bg-primary rounded-3xl flex-1">
    <header class="flex items-center flex-col md:flex-row-reverse">
        <h2 aria-label="Mi experiencia laboral" class="font-bold text-5xl mb-2 bg-white inline p-8 rounded-b-3xl place-self-center ml-0 md:ml-auto -my-1">Experiencia</h2>
        <div class="text-center flex-1">
            <p class="text-xl font-bold">{JOBS[0].company}</p>
            <div>
                <time datetime={JOBS[0].date.from} class="text-xl ">{new Date(JOBS[0].date.from).toLocaleDateString('es', { year: 'numeric', month: 'short' })}</time> 
                -
                <time datetime={JOBS[0].date.from} class="text-xl ">{new Date(JOBS[0].date.to).toLocaleDateString('es', { year: 'numeric', month: 'short' })}</time> 
            </div>
        </div>
    </header>
    <WorkCard {...JOBS[0]}/>
</section>