---
import WorkCard from "../ui/WorkCard.astro"
import { WORK_EXPERIENCE } from '../../utils/about'

---

<section id="experience" class="flex flex-col font-poppins text-text bg-primary rounded-3xl flex-1">
    <header class="flex items-center flex-col md:flex-row-reverse">
        <h2 aria-label="Mi experiencia laboral" class="font-bold text-5xl mb-2 bg-white inline p-8 rounded-b-3xl place-self-center ml-0 md:ml-auto -my-1">Experiencia</h2>
        <div class="text-center flex-1">
            <p class="text-xl font-bold">{WORK_EXPERIENCE[0].company}</p>
            <div>
                <time datetime={WORK_EXPERIENCE[0].date.from} class="text-xl ">{new Date(WORK_EXPERIENCE[0].date.from).toLocaleDateString('es', { year: 'numeric', month: 'short' })}</time> 
                -
                <time datetime={WORK_EXPERIENCE[0].date.from} class="text-xl ">{new Date(WORK_EXPERIENCE[0].date.to).toLocaleDateString('es', { year: 'numeric', month: 'short' })}</time> 
            </div>
        </div>
    </header>
    <WorkCard {...WORK_EXPERIENCE[0]}/>
    <button> Siguiente </button>
</section>