---
import { Image } from 'astro:assets';
import RSSLogo from '../../assets/rss.webp'
import Logo from '../../assets/tmgranata.svg'
import Icon from "astro-icon";

---


<footer class="bg-text text-background mt-2 flex min-h-[12rem] px-16 py-8 max-w-none gap-8 flex-col md:gap-0 md:flex-row">
    <Image class="mx-auto md:mx-0" src={Logo} alt="Thiago Michay Logo" width={96} height={96}/>


    <div class="ml-auto mr-auto flex gap-16">
        <div>
            <ul>
                <li>
                    <a href="/#about">
                        Sobre mí
                    </a>
                </li>
                <li>
                    <a href="#projects">
                        Proyectos
                    </a>
                </li>
                <li>
                    <a href="/#about">
                        Experiencia
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <p class="font-mono">Redes sociales</p>
            <ul class="flex gap-4">
                <li>
                    <a aria-label="linkedin" href="https://www.linkedin.com/in/thiago-granata-971804216">
                        <Icon pack="ri" name="linkedin-box-fill" color="#fff" width={24} height={24}/>
                    </a>
                </li>
                <li>
                    <a aria-label="github" href="https://github.com/GranataThiago">
                        <Icon pack="ri" name="github-fill" color="#fff" width={24} height={24}/>
                    </a>
                </li>
                <li>
                    <a aria-label="twitter" href="https://www.x.com/tmgranata">
                        <Icon pack="ri" name="twitter-fill" color="#fff" width={24} height={24}/>
                    </a>
                </li>
                <li>
                    <a aria-label="youtube" href="https://www.youtube.com/channel/UC6Lx4b6mLloShbc-NinZDPQ">
                        <Icon pack="ri" name="youtube-fill" color="#fff" width={24} height={24}/>
                    </a>
                </li>
            </ul>
            
            <hr class="my-2">

            <div class="flex flex-row gap-4 items-center ">
                <p>RSS Feed</p>
                <a href="rss.xml"><Image width={16} height={16} src={RSSLogo} alt="Subscribe to My Website"></a>
            </div>

        </div>
    </div>
</footer>