---
import { Image } from 'astro:assets';
import Button from '../ui/Button.astro';
import Logo from '../../assets/tmgranata.svg'
import DropdownNav from '../ui/DropdownNav.svelte';
import Link from '../ui/Link.astro';
---

<header class="flex justify-between items-center container !my-0 !px-4 !py-4 mx-auto bg-background">
    <a href="/" class="z-20">
        <Image src={Logo} alt="Thiago Granata Logo" width={64} height={64}>
    </a>        
    
    <DropdownNav client:load/>
    <Link class="z-20" href="/blog">
        Blog
    </Link>
</header>