---
import ProjectCard from "../ui/ProjectCard.astro";

const projects = [
    {
        name: 'Blogfolio',
        description: 'Sitio personal estático que cuenta con una integración de MDX para escribir artículos.',
        technologies: 'Astro, MDX, Svelte'
    }
]

---


<section id="projects" class="container !mt-0">

    <h1 class="text-5xl font-mono font-bold text-text mb-3">Proyectos</h1>

    <ul class="w-full flex gap-4 flex-wrap">
        {
            projects.map(project => (
                <li class="w-full md:w-auto">
                    <ProjectCard {...project}/>
                </li>
            ))
        }
    </ul>
</section>