---
import ProjectCard from "../ui/ProjectCard.astro";

const projects = [
    {
        name: 'Blogfolio',
        description: 'Sitio personal estático que cuenta con una integración de MDX para escribir artículos.',
        technologies: 'Astro, MDX, Svelte',
        linkTo: 'https://github.com/GranataThiago/blogfolio'
    },
    {
        name: 'YAUS',
        description: 'Acortador de URLs con slugs personalizados o hashes!',
        technologies: 'T3 Stack (Next, tRPC, Prisma, Upstash)',
        linkTo: 'https://yausr.vercel.app/'
    },

]

---


<section id="projects" class="container !mt-0">

    <h2 class="text-5xl font-mono font-bold text-text mb-3">Proyectos</h2>

    <ul class="w-full flex gap-4 flex-wrap justify-start items-stretch">
        {
            projects.map(project => (
                <li class="w-full md:w-auto">
                    <ProjectCard {...project}/>
                </li>
            ))
        }
    </ul>
</section>