---



---

<style>


    .skills{
        display: flex;
        flex-flow: column ;
    }

    i{
        color: var(--clr-text-card);
        font-size: var(--fs-xl);
        border: 2px solid var(--clr-detail-secondary);
        padding: .5em;
        border-radius: 50%;
        transition: .2s all ease-in;
    }

    .skills-extra{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .skills-extra .description {
        font-weight: 300;
    }

    i:hover{
        border-color: var(--clr-secondary);
        background-color: var(--clr-detail-secondary);
    }

</style>

<section class="skills">

    <h3 class="section-title">Skills</h3>

    <div class="skills-extra">
        <p class="description">Mi punto de entrada real a la programación fue aprendiendo <strong>algoritmos y estructuras de datos con C++ en 2018 </strong>. En los años posteriores aprendí a gestionar y crear bases de datos con <strong>MySQL</strong> y realizar mis primeras aplicaciones con <strong>.NET</strong>. Por último, comencé a aprender <strong>Java</strong> realizando un proyecto escolar en el que habia que realizar un videojuego multijugador, mientras por mi cuenta me adentraba en el mundo del desarrollo web aprendiendo <strong>HTML, CSS y Javascript</strong>. Ahí es cuando descubrí lo que realmente me gustaba y decidí profundizar ese sector aprendiendo frameworks como <strong>React o Angular y además Node junto a Express y Mongo</strong>. A lo largo de estos 4 años, estas fueron las tecnologias/herramientas que mas utilicé:</p>

        <i class="devicon-html5-plain "></i>
        <i class="devicon-css3-plain "></i>
        <i class="devicon-javascript-plain "></i>
        <i class="devicon-java-plain "></i>  
        <i class="devicon-react-original "></i>
        <i class="devicon-typescript-plain "></i>
        <i class="devicon-angularjs-plain "></i>
        <i class="devicon-nodejs-plain "></i>
        <i class="devicon-mysql-plain "></i>
        <i class="devicon-mongodb-plain "></i>
        <i class="devicon-git-plain "></i>
        <i class="devicon-github-original"></i>
    </div>

</section>