---
let data = Astro.fetchContent('../pages/posts/*.md').sort((a, b) => {
    return (new Date(b.date).getTime() - new Date(a.date).getTime());
}); 

---

<style>
    .extra-mobile{
        display: none;
    }

    .line-clamp{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    article{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 220px;
        border-radius: 20px;
        padding: 0.5em 1.5em;
        box-sizing: border-box;
        background-color: var(--clr-cards);
        box-shadow: var(--medium-shadow);
        color: var(--clr-text-card);
        margin-bottom: 1.5rem;
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 75%;
    }

    .title{
        font-weight: bold;
        font-size: var(--fs-xl);
    }

    .description{   
        font-size: var(--fs-sm);
        font-weight: 300;
    }

    .extra{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: rgba(180, 180, 255, 0.1);

        display: flex;
        justify-content: center;
        align-items: center;
        place-self: center;
        margin-right: 20px;
        box-shadow: var(--strong-shadow);
    }

    .extra a{
        color: var(--clr-detail);
        font-weight: bold;
        font-size: var(--fs-xl);
        text-decoration: none;
    }

    .extra:hover{
        transition: 0.2s all ease-in-out;
        background-color: rgba(180, 180, 255, 0.2);
    }

    @media (max-width: 670px){
        .title{
            font-size: var(--fs-lg);
        }
        .extra{
            width: 60px;
            height: 60px;   
        }

        .extra a{
            font-size: var(--fs-md);
        }
    }

    @media (max-width: 500px){
        .title{
            font-size: var(--fs-md);
        }

        article{
            flex-direction: column;
            justify-content: space-around;
        }

        .text{
            max-width: 100%;
        }

        .extra{
            display: none;
        }

        .extra-mobile{
            display: flex;
            border-bottom: 1px solid #522ac3;
            padding: 0.1em;
        }
    }
</style>    

<section>
    {data.map(post => (
        <article>
            <p class="text">
                <span class="title line-clamp">{post.title}</span>
                <span class="description">{post.description}</span>
            </p>
            <div class="extra">
                <a href={post.url}> <span aria-label="entrar al post">➤</span></a>
            </div>
            <a class="extra-mobile" href={post.url}>Continuar leyendo</a>
        </article>
    ))}
</section>