---
import type { HTMLAttributes } from 'astro/types'

export interface InputProps extends HTMLAttributes<'input'>{
    label: string;
    error: string;
}


const { label, error, class: className, ...props } = Astro.props;
---

<label for={props.name} class="w-full">
    <span class="sr-only">{label}</span>
    <input id={props.name} {...props} class:list={[className, 'w-full border border-b-4 border-r-4 border-text text-text p-2 rounded-2xl']}>
    { error && <p class="text-red-600">{error}</p> }
</label>