---
import TaggedContainer from "./TaggedContainer.astro";
const { description } = Astro.props;
---


<TaggedContainer tag="TL;DR;" class="bg-text my-4 p-4 text-background w-full max-w-[800px]">
    <p>
        {description}
    </p>
</TaggedContainer>
