---
import Button from "./Button.astro";
import Link from "./Link.astro";

const { name, description, technologies, linkTo } = Astro.props;
---



<article class="flex flex-col justify-between bg-text text-background p-6 rounded-3xl w-full h-full md:w-80">
    <header class="font-bold flex items-center justify-between">
        <h2 class="font-mono text-2xl">{name}</h2>
        <Link class="text-sm py-0 px-3" aria-label="Ir al proyecto" href={linkTo}>
            →
        </Link>
    </header>
    <p class="text-lg my-4">{description}</p>

    <p class="font-bold">{technologies}</p>
</article>