---
import type { HTMLAttributes } from "astro/types";

interface Textarea extends HTMLAttributes<'input'>{
    label: string;
    error: string;
}

const { error, class: className, ...props } = Astro.props;
---

<label for="message" class="w-full">
    <span class="sr-only">Tu mensaje</span>
    <textarea {...props} placeholder="Escribí tu mensaje..." class="border border-b-4 border-r-4 border-text text-text p-2 rounded-2xl w-full" id="message" cols="30" rows="10"></textarea>
    { error && <p>{error}</p> }
</label>