---
import { Image } from "astro:assets";
import PlaceholderImage from '../../assets/heurix.webp'
const { role, date, technologies } = Astro.props
---

<div class="h-full p-8 flex items-center gap-8 place-self-center">
    <Image width={196} height={196} src={PlaceholderImage} alt='Logotipo Heurix' class="hidden md:block grayscale"/>
    <div>
        <p class="font-bold font-mono text-3xl text-center md:text-left">{role}</p>
        <p class="text-center md:text-left">{technologies}</p>
    </div>
</div>